body {
  margin: 0;
}
.type-299 .bg-xam {
  background: #f3f3f3;
  padding: 20px;
}
.type-299 .owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
}
.type-299 .owl-carousel .owl-item {
  min-height: 1px;
  float: left;
}
.type-299 .owl-nav .owl-next,
.type-299 .owl-nav .owl-prev {
  cursor: pointer;
}
.type-299 .item {
  cursor: pointer;
  text-align: center;
}
.type-299 .owl-prev {
  position: absolute;
  left: 40px;
  top: 30px;
}
.type-299 .owl-next {
  position: absolute;
  right: 40px;
  top: 30px;
}
