.type-313 .modal-dialog {
  width: 850px;
}
.type-313 .icon {
  font-size: 18px;
  padding: 19px 19px 18px 20px;
  color: #fff;
  background-color: #aa4243;
}
.type-313 h2 {
  font-size: 24px;
  color: #454545;
  font-family: "Open Sans Condensed";
  margin-bottom: 50px;
  margin-left: 15px;
}
.type-313 .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.type-313 .close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  opacity: 1;
}
.type-313 .close .fa {
  color: #222;
  font-size: 35px;
}
.type-313 .margin {
  margin-bottom: 20px;
}
.type-313 .margin p {
  text-align: center;
  margin-top: 15px;
  color: #7f7f7f;
}
.type-313 .thumb {
  border: none;
}
.type-313 p {
  text-align: center;
}
.type-313 .demo {
  position: relative;
}
.type-313 .demo img {
  width: 100%;
}
.type-313 .demo .text {
  display: none;
}
.type-313 .demo a:hover {
  background-color: #0a0101;
}
.type-313 .demo a:hover .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.6;
  transition: .5s ease;
  background-color: #0a0101;
}
.type-313 .demo a:hover .text {
  display: block;
}
.type-313 .modal-body img {
  width: 100%;
}
.type-313 .modal-body .text {
  display: none;
}
.type-313 .nhan-1 {
  border: 1px solid #e5e5e5;
  padding: 10px;
}
.type-313 .nhan-1 .overlay {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.type-313 .nhan-1 a:hover .overlay {
  margin: 10px;
}
.type-313 h3 {
  text-align: center;
  color: #454545;
  font-size: 24px;
  font-family: "Open Sans Condensed";
  margin-bottom: 40px;
  margin-top: 70px;
}
.type-313 .nhan-2 .tron {
  border-radius: 50%;
  background-color: #aa4243;
  text-align: center;
  padding: 10px;
}
.type-313 .nhan-2 .overlay {
  position: absolute;
  border-radius: 50%;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.type-313 .nhan-2 a:hover .overlay {
  margin: 10px;
}
.type-313 .radius {
  border-radius: 15px;
}
.type-313 .radius .overlay {
  position: absolute;
  border-radius: 15px;
}
.type-313 .border {
  background-color: #aa4243;
  padding: 5px;
}
.type-313 .border .overlay {
  position: absolute;
  top: 5px;
  bottom: 5x;
  left: 5px;
  right: 5x;
}
.type-313 .border a:hover .overlay {
  margin: 5px;
}
.type-313 .panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #EEEEEE;
}
.type-313 .panel-group {
  margin-top: 15px;
}
.type-313 .panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #FAFAFA;
  border-color: #EEEEEE;
}
.type-313 .panel-title {
  font-size: 13px;
  background-color: #fff;
}
.type-313 .panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none;
}
@media (max-width: 768px) {
  .type-313 .modal-dialog {
    width: auto;
    height: auto;
    margin-left: 25px;
  }
}
