.type-1 .thumb-img img {
  width: 100%;
}
.type-1 .carousel-control.right {
  background: none;
  position: absolute;
  top: calc(45%);
  color: #000;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
}
.type-1 .carousel-control.left {
  background: none;
  position: absolute;
  top: calc(45%);
  color: #000;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
}
.type-1 blockquote {
  border: none;
}
.type-1 .fa {
  font-size: 30px;
}
@media (max-width: 767px) {
  .type-1 .carousel-control.left {
    left: 10px;
  }
  .type-1 .carousel-control.right {
    right: 10px;
  }
}
