.type-250{
    @color: #24b6ac;

    .navbar-default{
        background: none;
        border: none;
    }

    .navbar-collapse ul.navbar-nav li a.active {
        color: @color;
    }

    .navbar-nav{
        margin-top: 30px;
    }

    .navbar-header{
        margin-top: 45px;
    }

    small{
        color: #777;
    }

    .navbar-nav>li>a:hover{
        color: @color;
    }
}