.type-286{  

    .colum {
        padding: 0px 0px 107px;
    }

    h3 {
        margin-left: 13px;
        font-size: 23px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0px;
    }

    .image img{
        width: 65px;
        height: 65px;
        position: absolute;
        right: 40px;
        bottom: -75px;
    }

    .background{
        background:#f5f5f5;
        margin: 0px 15px;
        padding: 30px 30px 30px;
        color: #9b9b9b;
    }

    .name{
        color: #aa4243;
        font-weight: bold;
        padding: 30px 0;
    }

    .owl-carousel {
        display: none;
        width: 100%;        
        position: relative;
        z-index: 1; 
    }

    .owl-carousel .owl-stage {
        position: relative;       
    }

    .owl-carousel .owl-stage:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0; }

    .owl-carousel .owl-stage-outer {
        position: relative;
        overflow: hidden;
        -webkit-transform: translate3d(0px, 0px, 0px); 
        margin-top: 50px;
    }

    .owl-carousel .owl-wrapper,
    .owl-carousel .owl-item {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0); }

    .owl-carousel .owl-item {
        position: relative;
        min-height: 1px;
        float: left;
        -webkit-backface-visibility: hidden;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none; }

    .owl-carousel .owl-nav.disabled,
    .owl-carousel .owl-dots.disabled {
        display: none; }

    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next,
    .owl-carousel .owl-dot {
        cursor: pointer;
        cursor: hand;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
    .owl-carousel.owl-loaded {
        display: block; }

    .owl-carousel.owl-loading {
        opacity: 0;
        display: block; }

    .owl-carousel.owl-hidden {
        opacity: 0; }

    .owl-carousel.owl-refresh .owl-item {
        visibility: hidden; }

    .owl-carousel.owl-drag .owl-item {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }

    .owl-carousel.owl-grab {
        cursor: move;
        cursor: grab; }

    .owl-carousel.owl-rtl {
        direction: rtl; }

    .owl-carousel.owl-rtl .owl-item {
        float: right; }

    .owl-nav   {
        position: absolute;
        top: -15%;
        right: 1%;
        margin-bottom: 15px;
        display: inline-flex;
        .owl-prev{
            width: 40px;
            height: 40px;
            line-height: 40px;
        }
        .owl-next{
            width: 40px;
            height: 40px;
            line-height: 40px;
        }
        .owl-next, .owl-prev{
            border-radius: 50%;
            display: inline-block;
            padding: 12px 5px;
            margin: -38px 2px;
            font-size: 14px;
            line-height: 20px;
            color: #000;
            text-align: center;
            text-shadow: 0 1px 1px rgba(255,255,255,0.75);
            vertical-align: middle;
            cursor: pointer;
            background-color: #f5f5f5;
            background-repeat: repeat-x;
            border: 1px solid #cccccc;
        }
    }

    .owl-next:hover, .owl-prev:hover{
        cursor: pointer;
    }

    .image{
        position: absolute;
    }

    @media (max-width: 767px) {
        .picture .img-overlay {
            display: none;
        }
        .owl-nav{
            display: none;
        }
    }
}