.type-286{
    @color: #24b6ac;

    .gdlr-item-start-content {
        padding-top: 20px;
    }

    .gdlr-notification.color-background {
        padding: 16px;
    }

    .gdlr-item {
        margin: 0px 15px 20px;
    }

    .gdlr-shortcode-wrapper {
        margin-left: -15px;
        margin-right: -15px;
    }

    .gdlr-notification > i {
        float: left;
        margin-right: 15px;
        margin-top: 3px;
    }

    .gdlr-notification.color-border {
        border-width: 3px;
        border-style: solid;
    }

    .gdlr-notification {
        padding: 13px;
    }

    .gdlr-item {
        margin: 0px 15px 20px;
        min-height: 1px;
    }

    .gdlr-code-item {
        padding: 8px 14px;
        display: none;
        line-height: 2;
    }

    p {
        margin-bottom: 20px;
    }

    h2 {
        font-size: 25px;
        font-weight: bold;
    }

    h3 {
        font-size: 18px;
    }
}