.type-282 h5 {
  margin-top: 19px;
  color: #454545;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
}
.type-282 gdlr-item {
  margin: 0px 15px 20px;
  min-height: 1px;
}
.type-282 p {
  margin-bottom: 20px;
  color: #333;
}
.type-282 .wpcf7 span.wpcf7-form-control-wrap {
  display: block;
  padding-right: 46px;
  margin-top: 7px;
}
.type-282 .wpcf7 input[type="text"] {
  padding: 16px 19px;
  width: 100%;
  font-size: 13px;
}
.type-282 input[type="text"] {
  color: #b5b5b5;
  background-color: #f3f0f0;
  border: 0px;
}
.type-282 input[type="email"] {
  padding: 16px 19px;
  width: 100%;
  font-size: 13px;
}
.type-282 input[type="email"] {
  color: #b5b5b5;
  background-color: #f3f0f0;
  border: 0px;
}
.type-282 .wpcf7 textarea {
  padding: 16px 19px;
  width: 100%;
  font-size: 13px;
}
.type-282 textarea {
  color: #b5b5b5;
  background-color: #f3f0f0;
  border: 0px;
}
.type-282 .wpcf7 input[type="submit"] {
  padding: 10px 20px;
  letter-spacing: 0;
  text-transform: none;
}
.type-282 input[type="submit"] {
  background-color: #aa4243;
  color: #ffffff;
  border: 0px;
  font-weight: bold;
}
.type-282 input[type="submit"]:hover {
  background-color: #ae4c4d;
  color: #ffffff;
  border: 0px;
  font-weight: bold;
}
.type-282 .widget.gdlr-widget {
  margin-bottom: 60px;
}
.type-282 .gdlr-widget-title {
  color: #aa4243;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.type-282 .fa {
  margin-right: 7px;
}
