.type-1{
    img{
        width: 100%;
    }


    .swiper-button-next, .swiper-button-prev {
        box-shadow: 1px rgba(0,0,0,0.7);
        position: absolute;
        display: block;
        cursor: pointer;
        top: 35%;
        margin-top: -29px;
        height: 58px;
        width: 58px;
        line-height: 62px;
        font-size: 60px;
        color: gray;
        z-index: 50;
        text-align: center;
        filter: alpha(opacity=20);       
        transition: opacity 0.2s ease;
    }
    .swiper-button-prev,.swiper-button-next{
        background: none;
    }
    swiper-button-prev{
        left: 20px;
    }
    #swiper_btn_next{
        right: 20px;
    }   
}