.type-319 .star-rating {
  font-size: 1em;
  margin: 0 0 .5em;
  color: #aa4243;
  padding-top: 1em;
}
.type-319 .form-control {
  width: 70px;
  height: 49px;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
  background: #f3f3f3;
}
.type-319 .cart .btn-danger {
  padding: 13px;
}
.type-319 h1 {
  font-size: 35px;
  font-weight: normal;
  color: #454545;
  font-family: "Open Sans Condensed";
}
.type-319 .link {
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 15px;
}
.type-319 .link a {
  text-decoration: none;
}
.type-319 a {
  font-size: 1em;
  color: #777;
  text-decoration: none;
}
.type-319 a:hover {
  color: #808080;
  text-decoration: none;
}
.type-319 .posted_in {
  color: #808080;
}
.type-319 .posted_in a {
  color: #aa4243;
  text-decoration: none;
}
.type-319 .image img {
  width: 100%;
}
.type-319 .price p {
  color: #aa4243;
  font-weight: 600;
  font-size: 24px;
  margin-top: 20px;
}
.type-319 .content p {
  margin-bottom: 20px;
  font-family: "Open Sans";
  color: #808080;
  font-size: 15px;
  line-height: 1.7;
}
