.type-251 .green-bg {
  background: #24b6ac;
}
.type-251 .category-caption {
  padding-bottom: 60px;
}
.type-251 .line-divider {
  display: block;
  border-top: 1px solid #e5e5e5;
  width: 100%;
  margin: 20px 0;
}
.type-251 .line-mask {
  height: 5px;
  width: 50px;
  display: block;
  margin-top: -3px;
}
.type-251 .category-row {
  padding-bottom: 60px;
}
.type-251 .blog-inner .special-item {
  position: initial;
}
.type-251 .special-item .coupon-inner {
  background: transparent;
}
.type-251 .special-item-inner {
  border-color: #e5e5e5;
}
.type-251 .coupon-inner {
  box-shadow: none;
  border: none;
  position: initial;
}
.type-251 .orange {
  color: #ff8b02;
}
.type-251 .special-item-inner {
  display: table;
  min-height: 150px;
  width: 100%;
  text-align: center;
  padding: 30px 20px;
}
.type-251 .coupon-box {
  padding-bottom: 60px;
}
.type-251 .blog-inner {
  position: relative;
  border: 1px solid #e5e5e5;
  border-color: #e5e5e5;
}
.type-251 .blog-inner .special-item {
  position: initial;
}
.type-251 .coupon-content {
  border-color: #e5e5e5;
  border-left: 1px solid #e5e5e5;
}
.type-251 .blog-single-content {
  padding: 30px;
}
.type-251 .daily-offer-shop {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  width: 70px;
  padding: 7px;
}
.type-251 img {
  width: 100%;
}
.type-251 .blog-single-lead-icon a span {
  font-size: 22px;
}
.type-251 .green {
  color: #24b6ac;
}
.type-251 a {
  text-decoration: none;
}
.type-251 .item-meta ul li a {
  font-size: 12px;
  color: #8f8f8f;
}
.type-251 .blog-meta ul li a span {
  padding-right: 7px;
  vertical-align: baseline;
}
.type-251 .blog-single-content .item-ratings {
  color: #ff8b02;
}
.type-251 .blog-single-content .item-ratings span {
  color: #8f8f8f;
  font-size: 11px;
}
.type-251 p {
  font-size: 13px;
  line-height: 23px;
  color: #6d6d6d;
}
.type-251 h4 {
  font-size: 15px;
  font-weight: 700;
  margin-top: 0;
  font-family: 'Lato', sans-serif;
}
.type-251 h2 {
  margin-top: 0;
  font-family: 'Lato', sans-serif;
}
.type-251 .shop-promo-title {
  margin-bottom: 25px;
  margin-top: 25px;
}
.type-251 .coupon-inner h2 {
  font-size: 61px;
  font-weight: 900;
}
.type-251 coupon-inner h4 {
  font-weight: 900;
}
.type-251 .coupon-inner:before {
  font-family: "FontAwesome";
  font-size: 61px;
  content: "\f0d8";
  position: absolute;
  left: 14%;
  color: #e5e5e5;
  bottom: -39px;
}
.type-251 a.btn-padding,
.type-251 a.btn-padding:focus {
  position: relative;
  padding: 7px 0;
  margin-right: 20px;
  width: 100%;
  box-sizing: border-box;
}
.type-251 a.btn-top:before {
  font-family: "FontAwesome";
  font-size: 31px;
  content: "\f0da";
  position: absolute;
  left: 14px;
  color: #fff;
  top: 128px;
}
.type-251 a.btn-shop:before {
  top: -2px;
  left: -3px;
}
.type-251 a.btn-top:after {
  font-family: "FontAwesome";
  font-size: 31px;
  content: "\f0d9";
  position: absolute;
  right: 14px;
  color: #fff;
  top: 128px;
}
.type-251 a.btn-shop:after {
  top: -2px;
  right: -3px;
}
.type-251 a.blue-bg {
  background: #2ca9e0;
}
.type-251 a.btn-padding {
  width: 100%;
}
.type-251 a.btn-padding {
  border-radius: 0;
  outline: none;
}
.type-251 a.btn-top {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.type-251 .btn-default {
  border-color: #fff;
}
.type-251 .btn-default:hover {
  border-color: #fff;
  background-color: #69c2e9;
}
.type-251 .blog-pagination ul li.active a {
  background-color: #24b6ac;
}
.type-251 .pagination>li>a:hover {
  color: #fff;
  background-color: #24b6ac;
  border-color: #ddd;
}
@media (min-width: 768px) {
  .type-251 .navbar-nav {
    float: right;
  }
}
@media (max-width: 767px) {
  .type-251 .navbar-nav {
    text-align: center;
  }
  .type-251 .navbar-toggle {
    margin-top: 27px;
    z-index: 1000;
  }
  .type-251 .dropdown-menu>li>a {
    display: none;
  }
  .type-251 .navbar-default .navbar-collapse,
  .type-251 .navbar-default .navbar-form {
    border: none;
  }
}
