.type-263 .navbar-default {
  border: none;
  background: none;
}
.type-263 .navbar-default .navbar-nav>li>a {
  color: #000;
}
.type-263 .navbar-default .navbar-nav>.active>a,
.type-263 .navbar-default .navbar-nav>.active>a:focus,
.type-263 .navbar-default .navbar-nav>.active>a:hover,
.type-263 .navbar-default .navbar-nav>li>a:hover {
  background: none;
  color: #24b6ac;
}
.type-263 .navbar-nav {
  padding: 15px;
}
.type-263 .navbar-brand img {
  max-width: 60%;
}
.type-263 .dropdown ul li a:hover {
  background: #24b6ac;
}
@media (min-width: 768px) {
  .type-263 .navbar-nav {
    float: right;
  }
}
@media (max-width: 767px) {
  .type-263 .navbar-nav {
    text-align: center;
  }
  .type-263 .navbar-toggle {
    margin-top: 27px;
    z-index: 1000;
  }
  .type-263 .dropdown-menu>li>a {
    text-align: center;
  }
  .type-263 .navbar-default .navbar-collapse,
  .type-263 .navbar-default .navbar-form {
    border: none;
  }
}
