.type-259 section {
  padding: 70px 0;
}
.type-259 .widget .widget-inner {
  overflow: visible;
}
.type-259 .blog-inner {
  position: relative;
  border: 1px solid #e5e5e5;
}
.type-259 .widget-line-divider {
  border-color: #e5e5e5;
}
.type-259 .widget-line-divider {
  margin: 2px 0;
}
.type-259 .line-divider {
  display: block;
  border-top: 1px solid #e5e5e5;
  width: 100%;
}
.type-259 .widget-caption {
  padding: 15px 20px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.type-259 h4 {
  font-size: 15px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}
.type-259 a {
  text-decoration: none;
  color: #212121;
}
.type-259 a:hover {
  text-decoration: none;
  color: #8f8f8f;
}
.type-259 .widget .widget-inner ul {
  list-style: none;
  padding-left: 0;
}
.type-259 .widget ul.list-group li {
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.type-259 .widget .widget-inner ul:not(.dd-custom) li {
  padding: 10px 20px;
  border-bottom: 1px solid #e5e5e5;
}
.type-259 .widget ul.list-group li:first-child {
  border-top: none;
}
.type-259 .widget {
  padding-bottom: 30px;
}
.type-259 .right_widget .badge {
  background-color: #313030;
  color: #fff;
}
.type-259 .widget .badge {
  background-color: #313030;
  padding: 5px 8px;
  margin-top: -4px;
  min-width: 38px;
}
@media (min-width: 992px) {
  .type-259 .intro {
    padding: 0;
  }
}
@media (max-width: 991px) {
  .type-259 .footer-info {
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .type-259 .intro {
    width: 960px;
  }
}
@media (max-width: 480px) {
  .type-259 .intro {
    padding: 0;
  }
}
