.type-250 .navbar-default {
  background: none;
  border: none;
}
.type-250 .navbar-collapse ul.navbar-nav li a.active {
  color: #24b6ac;
}
.type-250 .navbar-nav {
  margin-top: 30px;
}
.type-250 .navbar-header {
  margin-top: 45px;
}
.type-250 small {
  color: #777;
}
.type-250 .navbar-nav>li>a:hover {
  color: #24b6ac;
}
