.type-323 body {
  background-color: #444;
  padding-top: 40px;
  font: 15px/1.3 Arial, sans-serif;
  color: #fff;
  text-align: center;
}
.type-323 a {
  color: orange;
}
.type-323 .responsive {
  margin-top: 50px;
}
.type-323 h3 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Open Sans Condensed";
  line-height: 1.3;
}
.type-323 .content {
  margin: 0px 15px 20px;
  font-family: "Open Sans Condensed";
}
.type-323 .content .icon {
  color: #ffffff;
  margin-right: 10px;
  font-size: 60px;
}
.type-323 .circles {
  margin-bottom: -10px;
  margin-top: 20px;
}
.type-323 .circle {
  margin: 6px 6px 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  line-height: 1.2;
  width: 160px;
  height: 160px;
  background-color: #fff;
  border-radius: 50%;
}
.type-323 .circle canvas {
  vertical-align: top;
  width: 160px;
  height: 160px;
}
.type-323 .circle strong {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  color: #aa4243;
}
.type-323 .circle strong i {
  font-style: normal;
  font-size: 0.6em;
  font-weight: normal;
  position: absolute;
}
.type-323 .photo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 10px;
  color: #808080;
}
.type-323 .background {
  background-color: #9ada55;
  color: #ffffff;
  padding: 5px 40px 230px;
  margin-top: 30px;
}
.type-323 .background1 {
  background-color: #e56b3a;
  color: #fff;
  padding-top: 5px;
  padding: 45px 40px 25px;
}
.type-323 .background2 {
  background-image: url(../images/1.jpg);
  color: #222222;
  padding-top: 5px;
  padding: 45px 40px 220px;
}
.type-323 .background2 h3 {
  font-size: 28px;
  font-weight: bold;
}
.type-323 .bg {
  float: right;
  height: 0px;
  width: 0px;
  border-style: solid;
  border-width: 0px 40px 40px 0px;
  border-bottom-color: #a84c30;
  top: -45px;
  left: 41px;
  position: relative;
}
.type-323 .panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #EEEEEE;
}
.type-323 .panel-group {
  margin-top: 30px;
}
.type-323 .panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #FAFAFA;
  border-color: #EEEEEE;
}
.type-323 .panel-title {
  font-size: 14px;
}
.type-323 .panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none;
}
.type-323 img {
  width: 100%;
}
.type-323 .btn-danger {
  color: #ffffff;
  background-color: #d6724f;
  border-bottom: 3px solid #98543c;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  width: auto;
}
.type-323 .background3 {
  background-color: #4f4f4f;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  padding: 45px 40px 60px;
}
.type-323 .background3 h3 {
  font-size: 28px;
  font-family: "Open Sans Condensed";
}
.type-323 .background3 p {
  margin-bottom: 30px;
}
.type-323 .background3 .fa-cloud-download {
  color: #ffffff;
  font-size: 60px;
}
@media (max-width: 768px) {
  .type-323 .background {
    margin-top: 30px;
    text-align: center;
    background-color: #9ada55;
    color: #ffffff;
    padding: 5px 40px 580px;
  }
  .type-323 .background1 {
    margin-top: 30px;
    text-align: center;
  }
  .type-323 .background2 {
    padding: 45px 40px 220px;
  }
  .type-323 .background2 h3 {
    margin-top: -15px;
  }
  .type-323 .background2 .btn-danger {
    width: 100%;
  }
}
